source "http://rubygems.org"

gem 'rake', '0.8.7'
gem 'mysql'
gem 'rack',              '~>1.1.0'
gem 'actionpack',        '2.3.5', :git=> 'git@github.com:rightscale/actionpack.git'
gem 'rails',             '2.3.5'
